VITE_PACKAGE_APP_ID=swarmag-app-ops
VITE_PACKAGE_TARGET=prod
VITE_PACKAGE_VERSION=0.0.0-prod
VITE_SUPABASE_EDGE_URL=https://data.swarmag.com
VITE_SUPABASE_RDBMS_URL=https://data.swarmag.com
VITE_SUPABASE_PUBLIC_KEY=__SECRET__
VITE_SUPABASE_CLIENT_MODE=browser
VITE_SERVICE_WORKER_ENABLED=true
VITE_LOCAL_DB_NAME=swarmag-app-ops
