VITE_PACKAGE_APP_ID=swarmag-app-customer
VITE_PACKAGE_TARGET=stage
VITE_PACKAGE_VERSION=0.0.0-stage
VITE_API_URL=https://api-stage.swarmag.com
VITE_SUPABASE_EDGE_URL=https://data-stage.swarmag.com
VITE_SUPABASE_RDBMS_URL=https://data-stage.swarmag.com
VITE_SUPABASE_SERVICE_KEY=__SECRET__
VITE_SUPABASE_ANON_KEY=__SECRET__
VITE_SUPABASE_CLIENT_MODE=browser
VITE_JWT_SECRET=__SECRET__
VITE_LOCAL_DB_NAME=swarmag-app-customer
