VITE_PACKAGE_APP_ID=swarmag-app-ops
VITE_PACKAGE_TARGET=dev
VITE_PACKAGE_VERSION=__SECRET__
VITE_PRODUCT_NAME="swarmAg Operations System"
VITE_APPLICATION_NAME="Operations Portal"
VITE_SUPABASE_EDGE_URL=__SECRET__
VITE_SUPABASE_RDBMS_URL=__SECRET__
VITE_SUPABASE_PUBLIC_KEY=__SECRET__
VITE_SUPABASE_CLIENT_MODE=browser
VITE_SERVICE_WORKER_ENABLED=true
VITE_LOCAL_DB_NAME=swarmag-app-ops
