VITE_PACKAGE_APP_ID=swarmag-app-admin
VITE_PACKAGE_TARGET=local
VITE_PACKAGE_VERSION=0.0.0-local
VITE_API_URL=http://localhost:8888/.netlify/functions
VITE_SUPABASE_EDGE_URL=http://localhost:54321
VITE_SUPABASE_RDBMS_URL=http://localhost:54321
VITE_SUPABASE_SERVICE_KEY=__SECRET__
VITE_SUPABASE_ANON_KEY=__SECRET__
VITE_SUPABASE_CLIENT_MODE=browser
VITE_JWT_SECRET=__SECRET__
VITE_LOCAL_DB_NAME=swarmag-app-admin
