[data-feat='user-role-list'] {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sa-space-xx);
}

[data-feat='user-option-row'] {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sa-space-xs);
}

[data-feat='user-option-label'] {
  text-transform: capitalize;
}
